<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>Nodejs</title>
</head>
<body>
	<p><%=obj[0].name%></p>	
	<form id="myFile" name="myFile" method="POST" enctype="multipart/form-data" action="/refund">
		<p><input type="file" id="myFile" name="myFile"></p>
		<p><input type="submit" value="enviar"></p>
	</form>
</body>
</html>